p {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #009688;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
}

textarea {
    position: relative;
    top: 1em;
    width: 70vw; 
    height: 30vh;
    color: #009688;
    background: #fff;
    border: 1px solid #009688;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
}

article {
    position: relative;
    top: 1em;
    color: #009688;
    background: #fff;
    border: 1px solid #009688;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
}

article:hover, article:active {
    color:#fff;
    background:#009688;
}

button {
    background: transparent;
    border: none;
    color: #009688;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    padding: 7px 12px;
}

button:hover, button:active {
    color: #fff;
    background: #009688;
    border: none;
}