table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding-right: 10px;
    padding-left: 10px;
}

th {
    text-align: center;
}

td:nth-child(1), td:nth-child(7), td:nth-child(8) {
    text-align: center;
}

td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    text-align: right;
}